body{
    padding: 0px;
    margin: 0px;
}

.container{
    display: grid;
    border: 1px solid black ;
    grid-template-columns:  auto auto auto;
    margin: 20px;
}

.item{
    width: 20%;
    padding: 20px ;
    margin: 20px;
    border: 1px solid black ;
    background-color: rgb(175, 180, 247);
}

img{
    width: 100%;
}

#icon{
    width: 15%;
    border-radius: 30px;
}

.imgCriador{
    display: inline-block
}

#fotoCard{
    border-radius: 4px;
}
